.task-manager {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .task-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .task-inputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  
  .task-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-table th,
  .task-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .task-table th {
    background-color: #4caf50;
    color: white;
  }
  
  .task-table tr:nth-child(even) {
    background-color: #000;
  }

  .task-table tr:nth-child(odd) {
    background-color: #000;
  }
  
  .task-table tr:hover {
    background-color: #2fb748;
  }
  
  .task-table input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;  
  }

  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .update-button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
  }

  .edit-button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
  }

  .delete-button:hover, .update-button:hover, .edit-button:hover{
    background-color: darkred;
  }